body{
  font-family: 'Acme', sans-serif;
  padding: 20px 60px;
  background-color: #FFB456;
}

.App {
  
  min-height:700px;
  width: 450px;
  margin: 40px auto;
  text-align: center;
  background-color: #9883e5;
  border-radius: 20px;

  .title{
    padding: 10px;
    margin: 10px;
  }
}

.particles{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

